.bubble-up .navigation ul li.active div .icon {
    transform: translateY(-35px);
}

.bubble-up .navigation ul li div .text {
    position: absolute;
    color: var(--dark);
    font-weight: 500;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.bubble-up .navigation ul li.active div .text {
    opacity: 1;
    transform: translateY(10px);
}


.bubble-up .navigation ul .indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background:  var(--active);
    border-radius: 50%;
    border: 6px solid var(--dark);
    transition: 0.5s;
}

.bubble-up .navigation ul .indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--dark);
}

.bubble-up .navigation ul .indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--dark);
}

@media (max-width: 500px) {
    .bubble-up .navigation ul .indicator {
        position: absolute;
        right: -50%;
        top: 19px;
        width: 70px;
        height: 70px;
        background:  var(--active);
        border-radius: 50%;
        border: 6px solid var(--dark);
        transition: 0.5s;
    }
    
    .bubble-up .navigation ul .indicator::before {
        content: '';
        position: absolute;
        left: 9px;
        top: -22px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-top-right-radius:0px;
        border-bottom-right-radius: 20px;
        box-shadow: 10px 1px 0 0 var(--dark);
    }
    
    .bubble-up .navigation ul .indicator::after {
        content: '';
        position: absolute;
        top: 60px;
        right: 28px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-top-left-radius:0px;
        border-top-right-radius: 20px;
        box-shadow: 10px 0px 0 0 var(--dark);
    }

    .bubble-up .navigation ul li.active div .icon {
        transform: translateX(35px);
    }
    
    .bubble-up .navigation ul li div .text {
        align-self: flex-start;
        transform: translateX(0px);
        transform: translateY(10px);
        background-color: #fff;    
        border-radius: 20%;    
        padding: 5px 5px;
    }
    
    .bubble-up .navigation ul li.active div .text {
        opacity: 1;
        transform: translateX(120px);
    }
    
}
