@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --active: #29c2fd;
    --active2: #29fd9a;
    --dark: #222327;
}

.nav-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: var(--dark);
    flex-direction: column;
}

.fb-container {
    background: var(--dark);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100px;
    z-index: 2;
    /* border-bottom: 2px solid  var(--active2); */
}

.fb-link {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fb-img {
    background-image: url(https://dev.foma-blog.ru/img/fb15.svg);
    background-size: 146px;
    background-position-x: -27px;
    height: 70px;
    filter: invert(1);
}

.fb-title {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.navigation {
    position: relative;
    /* width:500px; */
    padding: 0 19px 0 19px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.navigation ul {
    display: flex;
    /* width: 420px; */
}


.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}


.navigation ul li div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}


.navigation ul li div .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--dark);
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}

.navigation ul li:nth-child(6).active~.indicator {
    transform: translateX(calc(70px * 5));
}


@media (max-width: 500px) {
    .nav-container{
        align-items: flex-start;
    }

    .navigation {
        position: relative;
        /* width:500px; */
        padding:  19px 0 19px 0;
        height: auto;
        background: #fff;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        border-radius: 10px;
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
    }

    .navigation ul li:nth-child(1).active~.indicator {
        transform: translateY(calc(70px * 0));
    }
    
    .navigation ul li:nth-child(2).active~.indicator {
        transform: translateY(calc(70px * 1));
    }
    
    .navigation ul li:nth-child(3).active~.indicator {
        transform: translateY(calc(70px * 2));
    }
    
    .navigation ul li:nth-child(4).active~.indicator {
        transform: translateY(calc(70px * 3));
    }
    
    .navigation ul li:nth-child(5).active~.indicator {
        transform: translateY(calc(70px * 4));
    }
    
    .navigation ul li:nth-child(6).active~.indicator {
        transform: translateY(calc(70px * 5));
    }
    

}